<div class="choice">
            div(id="accordion")
                each val in tab
                    div(class="card")
                        div(class="card-header p-1" id="heading"+val)
                            h5(class="m-0 p-0")
                                button(class="btn btn-link" data-toggle="collapse" data-target="#collapse"+val aria-expended="true" aria-controls="collapseOne" name="capt"+val id=""+val)
                                    | #{val}
                        div(id="collapse"+val class="collapse" aria-labelledby="heading"+val data-parent="#accordion")
                            div(class="card-body p-1")
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="#{val}" id="defaultCheck#{val}">
                                    <label class="form-check-label" for="defaultCheck#{val}">Activé</label>
                                </div>
                                <div class="form-group border border-info">
                                    <div class="radio">
                                        <label><input type="radio" name="option#{val}" value='Moyenne' checked disabled>Moyenne</label>
                                    </div>
                                    <div class="radio">
                                        <label><input type="radio" name="option#{val}" value='Max' disabled>Max</label>
                                    </div>
                                    <div class="radio">
                                        <label><input type="radio" name="option#{val}" value='Min' disabled>Min</label>
                                    </div>
                                    <div class="radio">
                                        <label><input type="radio" name="option#{val}" value='Ecart_type' disabled>Ecart type</label>
                                    </div>
                                    <div class="radio">
                                        <label><input type="radio" name="option#{val}" value='Variance' disabled>Variance</label>
                                    </div>
                                    <div class="radio">
                                        <label><input type="radio" name="option#{val}" value='Skewness' disabled>Skewness</label>
                                    </div>
                                </div>    
                                <div class="form-group border border-info">
                                    <div class="radio">
                                        <label><input type="radio" name="freq#{val}" value="all" disabled>Toute les mesures</label>
                                    </div>
                                    <div class="radio">
                                        <label><input type="radio" name="freq#{val}" value="day" checked disabled>Chaque jour</label>
                                    </div>
                                    <div class="radio">
                                        <label><input type="radio" name="freq#{val}" value="month" disabled>Chaque mois</label>
                                    </div>
                                    <div class="radio">
                                        <label><input type="radio" name="freq#{val}" value="year" disabled>Chaque année</label>
                                    </div>
                                </div>
                                <!--<div class="accordionColor">
                                    <div id="headingColor#{val}">
                                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseColor#{val}" aria-expended="true" aria-controls="collapseColor#{val}" aria-expanded="true">Couleur</button>
                                    </div>
                                    <div class="collapse" id="collapseColor#{val}" data-parent="#accordionColor" aria-labelledby="heading001" >
                                        <div class="form-group border border-info p-2">
                                            <label for="lineColor#{val}">Couleur du trait :</label>
                                            <input type="text" class="form-control form-control-sm" id="lineColor#{val}" placeholder="ex:#ffffff">
                                        </div>
                                    </div>
                                </div>-->



</div>
<div class="content container">
    <div class="card">
        <div class="card-header text-center">Statistique</div>
        <div class="card-body">
            <canvas id="GraphStat"></canvas>
        </div>
    </div>
</div>
<div class="choice-right">
    <div class="form-group border border-info">
        <div class="radio">
            <label><input type="radio" name="time" value="day">Sur un jour</label>
        </div>
        <div class="radio">
            <label><input type="radio" name="time" value="week">Sur une semaine</label>
        </div>
        <div class="radio">
            <label><input type="radio" name="time" value="month" checked>Sur un mois</label>
        </div>
        <div class="radio">
            <label><input type="radio" name="time" value="year">Sur un an</label>
        </div>
    </div>
    <div class="form-group border border-info">
        <div class="radio">
            <label><input type="radio" name="backColor" value="Dark"><div class="color-box" style="background-color: #1a1a1a;"></div> Fond noir</label>
        </div>
        <div class="radio">
            <label><input type="radio" name="backColor" value="Gray" checked><div class="color-box" style="background-color: #f7f7f7;"></div> Fond gris</label>
        </div>
        <div class="radio">
            <label><input type="radio" name="backColor" value="White"><div class="color-box" style="background-color: #ffffff;"></div> Fond blanc</label>
        </div>
    </div>
    <button type="button" class="btn btn-outline-info btn-block" name="LoadStat">Load</button>
</div>
<script src="stat.js"></script>
